<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Requerir la característica de cámara hardware -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- Permiso para escribir en el almacenamiento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- Permisos necesarios para acceder a la ubicación del dispositivo -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_snfox"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_snfox_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lista"
        tools:targetApi="31">

        <!-- Configuración de la clave de API de Google Maps-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Actividad principal de la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Filtro de intenciones que declara esta actividad como la principal -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades de la aplicación -->
        <activity android:name=".InfoLugar"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Registro"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".Mapa.MainMapa"
            android:parentActivityName=".Registro"
            />
        <activity
            android:name=".Camara"
            android:parentActivityName=".Registro"
            />
    </application>

</manifest>
